@import url('https://use.typekit.net/ogq7ahc.css');

.cls-1 {
  fill: #fff;
  font-size: 76px;
}

.cls-1,
.cls-2 {
  font-family: AureaUltra-Roman, AureaUltra;
}

.cls-3 {
  letter-spacing: -0.01999em;
}

.cls-4 {
  letter-spacing: -0.03999em;
}

.cls-2 {
  fill: #fdd017;
  font-size: 110px;
}

.cls-5 {
  letter-spacing: -0.00998em;
}

.cls-6 {
  letter-spacing: -0.01999em;
}

.cls-7 {
  letter-spacing: -0.01em;
}

.cls-8 {
  letter-spacing: -0.00001em;
}

.cls-9 {
  letter-spacing: -0.00999em;
}
