.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
  background-color: #333333;
  color: #ffffff;
  z-index: 3;
}

.navbar-toggler {
  display: none;
  color: #fff;
  font-size: 1.5rem;
  background: transparent;
  border: none;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
}

.navbar-menu.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'aurea-ultra';
  margin: 0 50px;
}

/* @media (max-width: 767px) {
  .navbar-links {
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
  }
} */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-toggler {
    display: inline-block;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.open {
    display: flex;
    align-items: flex-end;
    text-align: right;
    margin-right: -50px;
    width: 100%;
  }
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .navbar-links {
    width: 100%;
    justify-content: space-evenly;
  }
} */
/* 
@media (max-width: 767px) {
  .navbar-links {
    flex-direction: column;
    align-items: flex-end;
  }
}

.navbar-link {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.navbar-link:hover {
  color: blue;
}

.navbar-toggler {
  display: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }
} */
