@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@font-face {
  font-family: 'AdornBanners';
  src: url('/public/AdornBanners.ttf');
}

:root {
  --red: #ff101f;
  --orange: #f49f0a;
  --green: #5b7553;
  --brown: #523a34;
  --blue: #547aa5;

  --gold: #fdd017;
  --violet: #241e4e;
  --dark-red: #960200;
  --cyan: #4ba3c3;
  --light-blue: #cce6f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: url('/public/portland-mt-hood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Bree Serif', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
  position: fixed;
  /* max-width: 800px; */
}

.bg-box {
  background: linear-gradient(180deg, #14a359f2 30%, rgba(58, 81, 255, 0.95) 50%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 40px;
  box-shadow: 0 -20px 8px -16px rgba(255, 255, 255, 0.25);
}

.bg-fade {
  /* background-image: linear-gradient(rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.5) 75%); */
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 70%, rgba(255, 255, 255, 0.05) 10%); */
  /* background: rgba(255, 255, 255, 0.15); */
  /* background-image: linear-gradient(
    180deg,
    hsl(0deg 0% 100%) 0%,
    hsl(137deg 26% 95%) 21%,
    hsl(138deg 27% 91%) 30%,
    hsl(138deg 27% 86%) 39%,
    hsl(138deg 28% 80%) 46%,
    hsl(139deg 29% 74%) 54%,
    hsl(139deg 31% 68%) 61%,
    hsl(140deg 33% 61%) 69%,
    hsl(142deg 36% 52%) 79%,
    hsl(149deg 78% 36%) 100%
  ); */
  /* background: linear-gradient(
    360deg,
    rgba(20, 163, 89, 1) 0%,
    rgba(83, 188, 134, 1) 19%,
    rgba(255, 255, 255, 1) 37%,
    rgba(255, 255, 255, 1) 43%,
    rgba(255, 255, 255, 0.23109375) 68%,
    rgba(255, 255, 255, 0) 87%
  ); */
  background: linear-gradient(360deg, rgba(20, 163, 89, 1) 0%, rgba(255, 255, 255, 0.23109375) 60%);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  /* margin-top: 40px; */

  box-shadow: 0 -20px 8px -16px rgba(255, 255, 255, 0.25);
  height: 120px;
  /* position: absolute; */
  position: relative;
  top: 50px;
  left: -20px;
  z-index: 10;
  width: 115%;
  /* margin: 0 auto; */
  margin: -60px auto;
}

/* .nwd-title {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  font-size: 2em;
  color: #e7e7e7;
  text-shadow: 2px 2px #727171;
  font-family: 'Bree Serif', sans-serif;
  font-weight: 500;
  z-index: 1;
} */

.title-text {
  margin: -15px auto;
}

.image-box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 0;
  top: 10px;
  left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAround {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cls-1 {
  font-family: AdornBanners, 'AdornBanners';
  font-size: 80px;
}

.cls-1,
.cls-2 {
  fill: #ffcc3e;
}

.cls-3 {
  letter-spacing: 0em;
}

.cls-4 {
  letter-spacing: -0.05em;
}

.cls-5 {
  letter-spacing: 0em;
}

.cls-6 {
  letter-spacing: -0.02em;
}

.cls-7 {
  letter-spacing: -0.05em;
}

.cls-2 {
  font-family: FranklinGothic-Medium, 'Franklin Gothic Medium';
  font-size: 22px;
  font-weight: 500;
}

.cls-8 {
  font-family: ProximaNova-Bold, 'Proxima Nova';
  font-size: 76px;
  font-weight: 700;
}

.cls-8,
.cls-9 {
  fill: #fff;
}

.cls-10 {
  letter-spacing: 0em;
}

.cls-9 {
  font-family: FranklinGothic-Demi, 'Franklin Gothic Demi';
  font-size: 83px;
  font-weight: 300;
}

.specialize,
.spec,
.specialties {
  color: white;
  width: 50vw;
  font-size: 1.4rem;
  margin: 0 auto;
  text-align: center;
}

.packages,
.detail,
.package-list {
  color: white;
}

.footer,
.reference,
.contact {
  color: white;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}

.logo-box {
  margin: 5px;
  padding: 0;
  margin: 0;
  height: 40vw;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logo {
  height: auto;
  width: 100%;
}

.bottom-box {
  margin: auto;
}

.phone-number {
  color: lightskyblue;
  font-size: 3rem;
  font-family: 'aurea-ultra';
  position: relative;
  top: -80px;
  text-shadow: 0 0 5px #909090;
}

.line {
  margin: 10px;
  margin-top: -10px;
  box-shadow: 0 -30px 90px 25px #fdd017;
}

.line-break {
  position: relative;
  top: -5px;
  margin: auto 25px;
  margin-top: -10px;
  box-shadow: 0 10px 15px 5px #fdd01730;
}

.line2 {
  margin: 10px;
  margin-top: -10px;
  box-shadow: 0 -30px 90px 25px #fdd017;
}
