@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
  --red: #ff101f;
  --orange: #f49f0a;
  --green: #5b7553;
  --brown: #523a34;
  --blue: #547aa5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: #161516;
  height: 100vh;
  width: 100vw;
  font-family: 'Bree Serif', sans-serif;
}

.nwd-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.nwd-title {
  /* position: fixed;
  top: 200px;
  left: 50%; */
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  /* font-size: 3.5rem; */
  font-size: 2em;
  color: #e7e7e7;
  text-shadow: 2px 2px #727171;
  font-family: 'Bree Serif', sans-serif;
  font-weight: 500;
  z-index: 1;
}

.title-text {
  margin: -15px auto;
}

.image-box {
  position: fixed;
  /* top: -60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 0;
  top: 10px;
  left: 10px;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about {
  color: white;
  /* position: relative; */
  z-index: 14;
  width: -moz-fit-content;
  width: fit-content;
  top: 60px;
  right: 5vw;
  margin: 0 auto;
  margin-left: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1em;
}

.nwd {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 20px auto;
}

.call {
  margin: 20px auto;
}

.nwd {
  transform: rotate(0deg);
  /* animation: rotateAround 5s linear infinite; */
}

@keyframes rotateAround {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
