.footer {
    border: 0.5px dotted magenta;
    padding: 2em;
    margin: 0 auto;
    width: 50vw;
    text-align: center;
}

.reference {
    border: 0.5px dotted limegreen;
}

.contact {
    border: 0.5px dotted whitesmoke;
}