/* .form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  color: white;
}

.radio-group {
  flex-direction: column;
}

.radio-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.RV,
.Boat {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
} */

/* form input,
form textarea,
form select { */
/* Add some basic styling */
/* padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1em; */

/* Add some spacing between form controls */
/* margin-bottom: 1em; */

/* Style the focus state */
/* &:focus {
    outline: none;
    border-color: #666;
  } */
/* } */

/* Style the textarea element specifically */
/* form textarea {
  min-height: 200px;
  resize: vertical;
} */

/* Style the select element specifically */
/* form select { */
/* Reset the appearance to remove the default styling */
/* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */

/* Add a small arrow to the select element */
/* background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    no-repeat right 0.75em top 50%;
  background-size: 0.65em auto;
} */

/* form {
  border: 2px dotted white;
  padding: 10px;
} */

/* padding: 0 15px; */

.form {
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
}

.form label {
  margin-bottom: 10px;
  flex-direction: column;
}

.form input[type='text'],
.form input[type='tel'],
.form input[type='number'],
.form button {
  margin-top: 5px;
}

.form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form button {
  padding: 10px;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
}

.form button:hover {
  background-color: #ddd;
}

.radio {
  flex-direction: column;
}
