@import url('https://use.typekit.net/ogq7ahc.css');

/* .cls-1 {
  font-size: 76px;
}

.cls-1,
.cls-2 {
  font-family: 'aurea-ultra';
}

.cls-1,
.cls-3 {
  fill: #fff;
}

.cls-4 {
  letter-spacing: 0.00879em;
}

.cls-5 {
  letter-spacing: -0.01999em;
}

.cls-6 {
  letter-spacing: -0.00928em;
}

.cls-7 {
  letter-spacing: -0.03999em;
}

.cls-8 {
  letter-spacing: -0.01221em;
}

.cls-2 {
  font-size: 110px;
}

.cls-2,
.cls-9 {
  fill: #fdd017;
}

.cls-3 {
  font-family: AdornBanners, 'Adorn Banners';
  font-size: 60px;
}

.cls-9 {
  font-family: Calibri-Bold, Calibri;
  font-size: 28px;
  font-weight: 700;
}

.cls-10 {
  letter-spacing: -0.00998em;
}

.cls-11 {
  letter-spacing: -0.01999em;
}

.cls-12 {
  letter-spacing: -0.01em;
}

.cls-13 {
  letter-spacing: -0.00001em;
}

.cls-14 {
  letter-spacing: -0.00999em;
} */

/*       most recent below               */

/* .cls-1 {
  font-size: 76px;
}

.cls-1,
.cls-2 {
  fill: #fff;
}

.cls-1,
.cls-3 {
  font-family: 'aurea-ultra';
}

.cls-4 {
  letter-spacing: -0.01999em;
}

.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-3,
.cls-4 {
  fill: #fdd017;
}

.cls-6 {
  letter-spacing: -0.00928em;
}

.cls-2 {
  font-family: AdornSBanners, 'AdornS Banners';
  font-size: 60px;
}

.cls-7 {
  letter-spacing: 0.00879em;
}

.cls-9 {
  font-family: Calibri-Bold, Calibri;
  font-size: 28px;
  font-weight: 700;
}

.cls-10 {
  letter-spacing: -0.03999em;
}

.cls-8 {
  letter-spacing: -0.01221em;
}

.cls-3 {
  font-size: 110px;
}

.cls-11 {
  letter-spacing: -0.00998em;
}

.cls-12 {
  letter-spacing: -0.01999em;
}

.cls-13 {
  letter-spacing: -0.01em;
}

.cls-14 {
  letter-spacing: -0.00001em;
}

.cls-15 {
  fill: #f2f2f2;
}

.cls-16 {
  letter-spacing: -0.00999em;
} */

/*       no background svg              */

/* .cls-1 {
  font-size: 76px;
}

.cls-1,
.cls-2 {
  fill: #fff;
}

.cls-1,
.cls-3 {
  font-family: AureaUltra-Roman, AureaUltra;
}

.cls-4 {
  letter-spacing: -0.01999em;
}

.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-3 {
  fill: #fdd017;
}

.cls-6 {
  letter-spacing: -0.00928em;
}

.cls-2 {
  font-family: AdornSBanners, 'AdornS Banners';
  font-size: 60px;
}

.cls-7 {
  letter-spacing: 0.00879em;
}

.cls-9 {
  font-family: Calibri-Bold, Calibri;
  font-size: 28px;
  font-weight: 700;
}

.cls-10 {
  letter-spacing: -0.03999em;
}

.cls-8 {
  letter-spacing: -0.01221em;
}

.cls-3 {
  font-size: 110px;
}

.cls-11 {
  letter-spacing: -0.00998em;
}

.cls-12 {
  letter-spacing: -0.01999em;
}

.cls-13 {
  letter-spacing: -0.01em;
}

.cls-14 {
  letter-spacing: -0.00001em;
}

.cls-15 {
  fill: #f2f2f2;
}

.cls-16 {
  letter-spacing: -0.00999em;
} */

/* .cls-1 {
  fill: #fff;
  font-size: 76px;
}

.cls-1,
.cls-2 {
  font-family: AureaUltra-Roman, AureaUltra;
}

.cls-3 {
  letter-spacing: -0.01999em;
}

.cls-4 {
  letter-spacing: -0.03999em;
}

.cls-2 {
  fill: #fdd017;
  font-size: 110px;
}

.cls-5 {
  letter-spacing: -0.00998em;
}

.cls-6 {
  letter-spacing: -0.01999em;
}

.cls-7 {
  letter-spacing: -0.01em;
}

.cls-8 {
  letter-spacing: -0.00001em;
}

.cls-9 {
  letter-spacing: -0.00999em;
} */

/* .cls-1 {
  font-size: 76px;
}

.cls-1,
.cls-2 {
  fill: #fff;
}

.cls-1,
.cls-2,
.cls-3 {
  font-family: AureaUltra-Roman, AureaUltra;
}

.cls-4 {
  letter-spacing: -0.02998em;
}

.cls-5 {
  letter-spacing: -0.04998em;
}

.cls-2 {
  font-size: 20px;
}

.cls-6 {
  letter-spacing: -0.01999em;
}

.cls-7 {
  letter-spacing: 0.01001em;
}

.cls-8 {
  letter-spacing: -0.03em;
}

.cls-9 {
  letter-spacing: -0.01997em;
}

.cls-10 {
  letter-spacing: -0.00999em;
}

.cls-11 {
  letter-spacing: -0.03999em;
}

.cls-12 {
  letter-spacing: -0.03003em;
}

.cls-13 {
  letter-spacing: -0.02em;
}

.cls-14 {
  letter-spacing: -0.04001em;
}

.cls-3 {
  fill: #fdd017;
  font-size: 110px;
}

.cls-15 {
  letter-spacing: -0.00998em;
}

.cls-16 {
  letter-spacing: -0.01999em;
}

.cls-17 {
  letter-spacing: -0.01em;
}

.cls-18 {
  letter-spacing: -0.00001em;
}

.cls-19 {
  letter-spacing: -0.01001em;
}

.cls-20 {
  letter-spacing: -0.00996em;
}

.cls-21 {
  letter-spacing: -0.00999em;
} */

.cls-1 {
  fill: #fff;
  font-size: 76px;
}

.cls-1,
.cls-2 {
  font-family: AureaUltra-Roman, AureaUltra;
}

.cls-3 {
  letter-spacing: -0.01999em;
}

.cls-4 {
  letter-spacing: -0.03999em;
}

.cls-2 {
  fill: #fdd017;
  font-size: 110px;
}

.cls-5 {
  letter-spacing: -0.00998em;
}

.cls-6 {
  letter-spacing: -0.01999em;
}

.cls-7 {
  letter-spacing: -0.01em;
}

.cls-8 {
  letter-spacing: -0.00001em;
}

.cls-9 {
  letter-spacing: -0.00999em;
}
