/* .packages {
  color: white;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  border: 0.5px dotted hotpink;
}

.detail {
  color: white;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  border: 0.5px dotted yellow;
}

.package-list {
  color: white;
  border: 0.5px dotted green;
} */

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  top: 100px;
}

.card {
  border: 1px solid #000;
  background: #343434bb;
  color: #fff;
  padding: 15px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px 4px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fdd017;
}

.card-priceRange {
  margin-bottom: 10px;
}

.card-details {
  list-style-type: none;
  padding-left: 0;
}

.price {
  /* Add your specific styles for price */
  color: rgb(234, 108, 108);
  font-size: 1.2rem;
  font-weight: bold;
}

.remaining-text {
  /* Add your specific styles for the remaining text */
  color: rgb(114, 114, 255);
}
